__pycache__
.vs
.idea
data/
tfevents/
exp/
pretrained_ckpt/
wandb/
onelogger*
**/.ipynb_checkpoints/
cache/
dataset/
outputs/
*.slurm
/submit_4dflow_windowed_h5.sh
/submit_4dflow_windowed_h5_array.sh
/validate_windowed_4dflow_gpu_interactive.sh
/validate_windowed_4dflow_interactive.sh
.docx
logs/